<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>{{book.title}}Information</h1>
    <ul>
        <li>Title:<strong>{{book.title}}</strong></li>
        <li>Author:<strong>{{book.author}}</strong></li>
        <li>Pages:<strong>{{book.pages}}</strong></li>
        <li>Price:<strong>{{book.price}}</strong></li>
        <a class="btn btn-success" href="/update/{{book.id}}">Update This Book </a>
        <a class="btn btn-danger" href="/delete/{{book.id}}">Delete This Book </a>
    </ul>
</div>


</body>
</html>