<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>All Books Information from customized template</h1>
    {% for book in books %}
    <ul>
        <li><a href="/{{book.id}}">{{book.title}}</a></li>
      <li>Title:<strong>{{book.title}}</strong></li>
      <li>Author:<strong>{{book.author}}</strong></li>
      <li>Pages:<strong>{{book.pages}}</strong></li>
      <li>Price:<strong>{{book.price}}</strong></li>
    </ul>
    <hr>
    {% endfor %}
</body>
</html>


